language: python

python: 3.6

stages:
  - deploy

script:
  - pycodestyle --max-line-length=120 .

deploy:
  provider: lambda
  function_name: "slackbot"
  region: "ap-northeast-1"
  role: "arn:aws:iam::493287198862:role/LambdaBasicExecutionRole"
  runtime: "python3.6"
  handler_name: "lambda_handler"

branches:
  only:
    - master